@font-face {
	font-family: 'Bembo Regular';
	src: url('302FC2_0_0.eot');
	src: url('302FC2_0_0.eot?#iefix') format('embedded-opentype'),
		url('302FC2_0_0.woff') format('woff'),
		url('302FC2_0_0.ttf') format('truetype');
}