@font-face {
	font-family: 'Voga Bold';
	src: url('302FC2_3_0.eot');
	src: url('302FC2_3_0.eot?#iefix') format('embedded-opentype'),
		url('302FC2_3_0.woff') format('woff'),
		url('302FC2_3_0.ttf') format('truetype');
}