@font-face {
	font-family: 'Voga';
	src: url('302FC2_5_0.eot');
	src: url('302FC2_5_0.eot?#iefix') format('embedded-opentype'),
		url('302FC2_5_0.woff') format('woff'),
		url('302FC2_5_0.ttf') format('truetype');
}