@font-face {
	font-family: 'Bembo Italic';
	src: url('302FC2_2_0.eot');
	src: url('302FC2_2_0.eot?#iefix') format('embedded-opentype'),
		url('302FC2_2_0.woff') format('woff'),
		url('302FC2_2_0.ttf') format('truetype');
}